
.form__block--floating {
  transition: background-color 0.2s ease;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.floating__input {
  font-size: 16px;
  line-height: 142%;
  color: $black;
  border: 2px solid #535554;
  width: 100%;
  padding: 20px 20px 10px 20px;
}

.floating__input:focus {
  outline: none;
  border: 2px solid $yellowOrange;
  border-radius: 2px;
}

.floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.floating__label::before {
  color: #000;
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 1rem;
  position: relative;
}


.floating__input:placeholder-shown + .floating__label::before {
  font-weight: normal;
  font-size: 16px;
  line-height: 142%;
  font-family: 'Montserrat', sans-serif;
  color: $grey;
  transform: translate3d(5px, -35px, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
  transform: translate3d(5px, -50px, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus + .floating__label::before {
  color: $yellowOrange;
}

input.form-input--error {
  border: 1px solid red;
}

textarea.form-input--error {
  border: 1px solid red;
}