.header {
  a {
    opacity: 1;
    transition: all .3s;
    &:hover {
      opacity: .8;
    }
  }

  // .header__top

  &__top {
    background: #2D2D2D;
  }

  // .header__top-inner

  &__top-inner {
    min-height: 95px;
    padding: 10px 0;
    color: #FFFFFF;
  }

  // .header__about-text

  &__about-text {
    max-width: 167px;
    margin-left: 21px;
    font-size: 14px;
    line-height: 142.19%;
  }

  // .header__schedule

  &__schedule {
    font-size: 14px;
    line-height: 142.19%;
    padding-left: 31px;
    margin-right: 18px;

    &::after{
      width: 21px;
      height: 21px;
      top: 0;
      left: 0;
      background-image: url('../../images/clock-icon.svg');
    }
  }

  // .header__address

  &__address {
    max-width: 173px;
    font-size: 14px;
    line-height: 142.19%;
    padding-left: 31px;

    &::after{
      width: 21px;
      height: 21px;
      top: 50%;
      transform: translate(0%, -50%);
      left: 0;
      background-image: url('../../images/mapmarker.svg');
    }
  }

  // .header__btn

  &__btn {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 141.69%;

    white-space: nowrap;
    padding: 8px 27px;
    border: 1px solid #FFBF1D;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    transition: all .2s;
  }

  &__btn:hover {
    opacity: .7;
  }

  &__btn:active,
  &__btn:focus {
    border: 1px solid #000;
    background-color: #FFBF1D;
  }

  // .header__tels

  &__tels {
    padding-left: 33px;

    &::after{
      width: 21px;
      height: 21px;
      top: 35%;
      left: 0px;
      background-image: url('../../images/tel-icon.svg');

      @-webkit-keyframes ring{
        0%{-webkit-transform: rotate(-15deg);transform: rotate(-15deg)}
        2%{-webkit-transform: rotate(15deg);transform: rotate(15deg)}
        4%{-webkit-transform: rotate(-18deg);transform: rotate(-18deg)}
        6%{-webkit-transform: rotate(18deg);transform: rotate(18deg)}
        8%{-webkit-transform: rotate(-22deg);transform: rotate(-22deg)}
        10%{-webkit-transform: rotate(22deg);transform: rotate(22deg)}
        12%{-webkit-transform: rotate(-18deg);transform: rotate(-18deg)}
        14%{-webkit-transform: rotate(18deg);transform: rotate(18deg)}
        16%{-webkit-transform: rotate(-12deg);transform: rotate(-12deg)}
        18%{-webkit-transform: rotate(12deg);transform: rotate(12deg)}
        20%{-webkit-transform: rotate(0deg);transform: rotate(0deg)}
      }
      @keyframes ring{
        0%{-webkit-transform: rotate(-15deg);-ms-transform: rotate(-15deg);transform: rotate(-15deg)}
        2%{-webkit-transform: rotate(15deg);-ms-transform: rotate(15deg);transform: rotate(15deg)}
        4%{-webkit-transform: rotate(-18deg);-ms-transform: rotate(-18deg);transform: rotate(-18deg)}
        6%{-webkit-transform: rotate(18deg);-ms-transform: rotate(18deg);transform: rotate(18deg)}
        8%{-webkit-transform: rotate(-22deg);-ms-transform: rotate(-22deg);transform: rotate(-22deg)}
        10%{-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);transform: rotate(22deg)}
        12%{-webkit-transform: rotate(-18deg);-ms-transform: rotate(-18deg);transform: rotate(-18deg)}
        14%{-webkit-transform: rotate(18deg);-ms-transform: rotate(18deg);transform: rotate(18deg)}
        16%{-webkit-transform: rotate(-12deg);-ms-transform: rotate(-12deg);transform: rotate(-12deg)}
        18%{-webkit-transform: rotate(12deg);-ms-transform: rotate(12deg);transform: rotate(12deg)}
        20%{-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg)}
      }

      -webkit-animation: ring 2s ease infinite;
      animation: ring 2s ease infinite;
    }
  }

  // .header__tel

  &__tel {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.69%;

    white-space: nowrap;
  }

  // .header__bottom

  &__bottom { 
    background: $white;
  }

  &__bottom-inner {
    padding: 25px 0;
  }

  // .header__nav-item

  &__nav-item {
    display: inline-block;
  }

  &__nav-item + &__nav-item {
    margin-left: 30px;
  }

  // .header__nav-link

  &__nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 156.69%;

    &::after{
      width: 0;
      left: auto;
      right: 0;
      bottom: -15px;
      background-color: #FFBF1D;
      height: 3px;
      transition: all .3s;
    }
    &.active::after,
    &:hover::after{
      width: 100%;
      right: auto;
      left: 0;
    }
  }

  // .header__input

  &__input {
    width: 270px;
    height: 30px;
    border: 1px solid rgba(45, 45, 45, 0.6);

    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    padding: 5px 40px 5px 15px;
  }
}

.menu-btn {
  position: absolute;
  display: none;
  top: 50%;
  left: 20px;
  z-index: 7;
  transform: translate(0, -50%);
  background-color: transparent;
  border: none;

  div {
    width: 40px;
    height: 4px;
    background-color: #000000;
    transition: all .5s;
    &:htn-child(2) {
      width: 20px;
    }
  } 
  div + div {
    margin-top: 8px;
  }
}

.menu-btn:hover:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(#000, .2);
}
.menu-btn.active{
  div:nth-child(2) {
    opacity: 0;
  }
  div:nth-child(1) {
    transform: translateY(5px) rotate(135deg);
  }
  div:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
  }
}

@media (max-width:1140px) {
  .header__info {
    display: none;
  }
}

@media (max-width:1010px) {
  .menu-btn {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__input-box {
    margin-left: auto;
  }
  .header__schedule {
    display: block;
    margin: 0 0 30px 0;
    text-align: left;
    font-size: 16px;
  }
  .header__address {
    display: block;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
    margin: 0 0 30px 0;
    text-align: left;
  }
}

@media (max-width:890px) {
  .header__about-text {
    display: none;
  }
}

@media (max-width:660px) {
  .header__btn {
    display: none;
  }
}

@media (max-width:570px) {
  .header__top-inner {
    flex-direction: column;
    justify-content: center;
    padding: 26px 0 32px;
  }
  .header__about {
    margin-bottom: 10px;
  }
  .header__input {
    width: 130px;
  }
}