.popup-message {
  @extend %pop-up;

  // .popup-message__body

  &__body {
    @extend %pop-up-body;
  }

  // .popup-message__close

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  // .popup-message__title

  &__title {
    @extend %h3;
    margin-bottom: 16px;
  }

  // .popup-message__text

  &__text {
    margin-bottom: 20px;
  }

  // .popup-message__btn

  &__btn {
    @extend %link-btn;
    display: block;
    padding: 12px 69px;
    margin: 0 auto;
  }
}
