.mob-menu {
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;

  overflow: auto;
  background: #000;
  clip-path: circle(0px at calc(35px) 45px);
  transition: all 0.3s ease-in-out;

  &.opened {
    clip-path: circle(75%);
  }

  &__body {
    width: 100%;
    min-height: 100%;
    transform: translate(-200%, 0);
    transition: all .3s .1s;
    padding: 80px 30px;
    text-align: center;
    background-color: #000;
  
    &.opened {
      transform: translate(0%, 0);
    }
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 25;

    display: block;
    width: 30px;
    height: 30px;
    transition: all .2s;

    span {
      display: block;
      width: 32px;
      height: 2px;
      background-color: #fff;
      transition: all .5s;
      
      &:first-child {
        transform: translate(0, 2px) rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__close:hover {
    transform: rotate(360deg);
  }

  &__list {
    flex-direction: column;
    margin-bottom: 45px;
  }

  &__list-item {
    padding-bottom: 5px;
    border-bottom: 2px solid #FFBF1D;
  }

  &__list-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 2px;

    --fill-color: #FFBF1D;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear;

    &:hover {
      background-size: 100%;
    }
  }

  &__list-item + &__list-item {
    margin-left: 0px;
    margin-top: 30px;
  }
}