.about {
  padding-bottom: 150px;

  @media #{$tablet} {
    padding-bottom: 120px;
  }

  &__container {
    max-width: 1600px;
    margin: 0 auto;

    @media #{$mobile} {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    @extend %h1;

    margin-bottom: 50px;
  }

  &__text {
    width: 46%;

    @media #{$mobile} {
      width: 100%;
    }

    p + p {
      margin-top: 20px;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - (100% - 1200px) / 2 - 612px);

    @extend %imgbox;

    height: 100%;

    @media #{$mobile} {
      position: relative;
      order: -1;
      width: auto;
      height: 0;
      margin: 0 15px 30px;
      padding-bottom: 66.5%;
    }
  }

  &__images {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__video-box {
    height: 100%;

    @media #{$mobile} {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  &__video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media #{$mobile} {
      width: 50px;
      height: 50px;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }
  }
}

.anim-color path {
  fill: black;
  animation: AnimColor 3s linear infinite;
}

@keyframes AnimColor {
  0% {
    fill: #c4c4c4;
  }

  25% {
    fill: #2d2d2d;
  }

  50% {
    fill: #fcb427;
  }

  75% {
    fill: #f3f3f3;
  }

  100% {
    fill: #ff971d;
  }
}

.anim-color {
  animation: scale 2s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(0.95);
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(0.95);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
