.article-top {
  padding-bottom: 120px;

  &__heading {
    @extend %h1;

    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__images {
    margin-bottom: 50px;

    @media #{$tablet} {
      padding: 0 85px;
    }

    @media #{$mobile} {
      flex-direction: column;
      padding: 0;
    }
  }

  &__img {
    width: calc((100% - 30px) / 2);

    @extend %imgbox;

    padding-bottom: 42%;

    @media #{$mobile} {
      width: 100%;
      padding-bottom: 87%;
    }

    img {
      @extend %img;
    }
  }

  &__img + &__img {
    @media #{$mobile} {
      margin-top: 20px;
    }
  }

  &__title {
    @extend %h2;

    margin-bottom: 31px;
  }

  &__list {
    margin-bottom: 25px;
  }

  &__list-item {
    padding-left: 9px;

    &::after {
      top: 12px;
      left: 3px;
      width: 3px;
      height: 2px;
      border-radius: 50%;
      background-color: #000;
    }
  }

  &__text--last {
    margin-bottom: 50px;
  }
}

.article {
  &__markdown {
    p {
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 400;
      line-height: 156%;
      margin-top: 20px;
    }

    h5 {
      font-size: 40px;
      font-weight: 700;
      line-height: 141%;
      margin-top: 50px;
    }

    ul {
      margin-top: 20px;
    }

    li {
      padding-left: 20px;
      position: relative;

      &::after {
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 8px;
        background-color: #2d2d2d;
        border-radius: 50%;
        content: '';
      }
    }
  }
}
