.catalog-controls {
  z-index: 4;

  &__sort-select {
    width: 192px;
  }

  &__aside-toggle {
    display: none;
    margin-right: 15px;
  }

  &__view {
    margin-left: auto;
  }

  &__btn {
    opacity: 0.6;
  }

  &__btn--active {
    opacity: 1;
  }

  &__btn + &__btn {
    margin-left: 10px;
  }
}
