.catalog-slider {
  margin-bottom: 30px;

  .slick-next {
    @media (width <= 1600px) {
      right: calc((100% - 1200px) / 2);
    }

    @media #{$tablet} {
      right: 15px;
    }
  }

  .slick-btn {
    right: 223px;
    top: -78px;
  }

  .slick-prev {
    right: 291px;

    @media (width <= 1600px) {
      right: calc((100% - 1200px) / 2 + 68px);
    }

    @media #{$tablet} {
      right: 83px;
    }
  }

  .slick-dots {
    top: -40px;
    right: 223px;

    @media (width <= 1600px) {
      right: calc((100% - 1200px) / 2);
    }

    @media #{$tablet} {
      right: 15px;
    }
  }
}
