.contacts {
  padding: 48px 0;
  background-color: #fff;

  &__inner {
    display: grid;
    grid-template-columns: 570px 470px;
    justify-content: space-between;

    @media #{$tablet} {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }

  &__title {
    @extend %h2;

    margin-bottom: 51px;
  }

  &__text + &__text {
    margin-top: 30px;
  }

  &__address {
    display: inline-block;
    margin-bottom: 25px;
    padding-left: 50px;

    &::after {
      width: 30px;
      height: 30px;
      left: 0;
      top: 50%;
      transform: translate(0%, -50%);
      background-image: url('/static/images/contacts-marker.svg');
    }
  }

  &__box {
    max-width: 493px;
  }

  &__phones {
    padding-left: 50px;

    @media #{$mobile} {
      margin-top: 20px;
    }

    &::after {
      width: 30px;
      height: 30px;
      left: 0;
      top: 50%;
      transform: translate(0%, -50%);
      background-image: url('/static/images/contacts-tel.svg');
    }
  }

  &__phone {
    display: block;
  }

  &__mail {
    padding-left: 50px;
    margin-bottom: 21px;

    &::after {
      width: 30px;
      height: 23px;
      left: 0;
      top: 50%;
      transform: translate(0%, -50%);
      background-image: url('/static/images/contacts-mail.svg');
    }
  }

  &__schedule {
    margin-top: 20px;
    padding-left: 50px;

    &::after {
      width: 30px;
      height: 30px;
      left: 0;
      top: 50%;
      transform: translate(0%, -50%);
      background-image: url('/static/images/contacts-clock.svg');
    }
  }

  &__sub {
    font-weight: bold;
    font-size: 15px;
    line-height: 142.19%;
    margin-bottom: 10px;
  }

  &__sub--margin {
    margin-top: 45px;
  }

  &__requisite {
    margin-top: 42px;
    padding-left: 50px;

    &::after {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 30px;
      height: 30px;
      background-image: url('/static/images/file-icon.svg');
    }
  }

  &__requisite-box {
    display: grid;
    grid-template-columns: 60px auto;
  }

  &__form {
    width: 40%;
  }

  &__subtext {
    padding-right: 20px;
  }
}

@media (width <= 640px) {
  .article__another-ones {
    .item-blog {
      max-width: 100%;
    }

    .item-blog:nth-child(n + 3) {
      display: none;
    }

    .item-blog__images {
      padding-bottom: 40%;
    }
  }
}

@media (width <= 470px) {
  .article__another-ones {
    .item-blog__images {
      padding-bottom: 99%;
    }
  }
}
