.empty {
  padding: 50px 0;

  &__images {
    justify-content: center;
    margin-bottom: 30px;

    img {
      max-width: 200px;
      object-fit: contain;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }
}
