.projects-nav-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.projects-slider-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.cost--padding {
  padding: 93px 0 90px;
}

@media (width <= 992px) {
  .main-form__block--pushed {
    margin-bottom: 30px;
  }
}
