.item-specs {
  &__item {
    width: calc((100% - 90px) / 4);
  }

  &__images {
    @extend %imgbox;

    margin-bottom: 20px;
    height: 0;
    padding-bottom: 142%;
  }

  &__link {
    display: inline-block;
    font-weight: bold;
    color: #000;
    padding-bottom: 3px;
    border-bottom: 1px solid $yellow-orange;
  }
}
