
.item-blog {
  max-width: 370px;
  height: 100%;
  background-color: #fff;
  transition: all .3s;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  &__images {
    margin-bottom: 16px;
  }

  &__box {
    flex-grow: 1;
    flex-direction: column;
    padding: 0 20px 20px 30px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__btn {
    margin-top: auto;
    justify-self: flex-end;
    align-self: flex-start;
    display: inline-block;
    padding: 12px 62px;
  }
}