.menu-btn {
  position: relative;
  display: none;
  z-index: 7;
  background-color: transparent;

  @media (width <= 1010px) {
    display: block;
  }

  span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #000;
    transition: all 0.5s;

    &:nth-child(2) {
      width: 20px;
    }
  }

  span + span {
    margin-top: 8px;
  }
}
