.product {
  padding-bottom: 50px;

  &__title {
    @extend %h1;

    margin-bottom: 50px;
  }

  &__inner {
    &::after {
      @extend %banner;

      content: 'Liebherr';
      top: 81%;
      right: -57%;
      width: 1094px;

      @media #{$tablet} {
        position: static;
        display: none;
      }
    }

    @media #{$mobile} {
      flex-direction: column;
    }
  }

  &__images {
    width: 48%;
    flex-grow: 0;

    @media #{$mobile} {
      width: 100%;
    }
  }

  &__slider {
    margin-bottom: 23px;

    @media #{$mobile} {
      margin-bottom: 4px;
    }
  }

  &__slider-images {
    height: 0;
    padding-bottom: 74%;
  }

  &__thumbs {
    margin: 0 -15px;
    max-width: calc(100% + 30px);
  }

  &__thumb-images {
    @extend %imgbox;

    height: 0;
    margin: 0 15px;
    padding-bottom: 58%;
    cursor: pointer;
  }

  &__info {
    flex-grow: 1;
    width: 41%;
    margin-left: 30px;

    @media #{$mobile} {
      width: 100%;
      margin-left: 0;
    }
  }

  &__info-btn {
    display: inline-block;
    padding: 12px 70px;
  }
}

.product-text {
  padding-top: 0;
}

@media (width <= 992px) {
  .product-list__text:first-child {
    max-width: 220px;
  }

  .product__thumbs {
    max-width: calc(100% + 16px);
    margin: 0 -8px;
  }

  .product__thumb-images {
    margin: 0 8px;
  }

  .item-content__images {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 27px 33px;
  }

  .tabs__toggle {
    margin-right: -15px;
  }

  .similar {
    padding: 120px 0;
  }

  .similar__items {
    max-width: 770px;
    margin: 0 auto;

    .slick-slide + .slick-slide {
      margin-left: 0;
    }

    .product-item {
      max-width: none;
      padding: 0 15px;
    }
  }
}

@media (width <= 820px) {
  .item-specs__box {
    flex-wrap: wrap;
  }

  .item-specs__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
}

@media #{$mobile} {
  .product__info .product-list__item:not(:last-child) {
    display: none;
  }
}

@media (width <= 660px) {
  .similar__items {
    .product-item {
      padding: 0;
    }
  }
}

@media (width <= 570px) {
  .item-content__images {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 27px 0;
  }
}

@media (width <= 470px) {
  .item-specs__item {
    width: 100%;
  }
}

@media (width <= 350px) {
  .tabs__content .product-list__text:first-child {
    max-width: 180px;
  }
}
