.top {
  &__inner {
    margin-bottom: 77px;
    background-color: #e5e5e5;

    &::after {
      width: 554px;
      height: 72px;
      bottom: -35px;
      right: -6px;
      z-index: 11;
      background-image: url('/static/images/label-top.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__slider {
    height: 600px;

    .slick-btn {
      position: absolute;
      bottom: 0;
      z-index: 9;
      cursor: pointer;
      border: none;
      outline: none;
      left: 50%;
      width: 66px;
      height: 66px;
      background-color: $yellow-orange;

      &.slick-disabled {
        cursor: default;
        background: #cfcfcc;
        border: 1px solid #fff;
      }
    }

    .slick-prev {
      transform: translate(-100%, 0);
    }
  }

  &__slider-numbers {
    position: absolute;
    top: 34px;
    right: 58px;
  }

  &__slider-num {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    color: #f1f1f1;
  }

  &__slider-total {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #e2e2e2;
  }

  &__slider-img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }

  &__container {
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 6;

    &::after {
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      max-width: 50%;
      z-index: -1;
      background: rgb(255 255 255 / 80%);
    }
  }

  &__content-box {
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 50%;
    height: 100%;
    padding-top: 103px;
  }

  &__title {
    @extend %h1;

    max-width: 554px;
    margin-bottom: 40px;
    padding-top: 20px;

    &::after {
      width: 264px;
      height: 5px;
      background: $yellow-orange;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 156.69%;
    color: $black;
    font-family: Montserrat, sans-serif;
    max-width: 435px;
    margin-bottom: 30px;
  }

  &__btns {
    max-width: 446px;
  }

  &__callme {
    width: 215px;
    border: none;
  }

  &__link {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    padding: 11px 0;
    width: 215px;
    color: $black;
    font-weight: bold;
    font-size: 17px;
    line-height: 141.69%;
    border: 1px solid $black;
  }
}
