@font-face {
  font-family: 'FuturaPt-Bold';
  src: url('../fonts/futura-pt-bold.woff2') format('woff2'),
  url('../fonts/futura-pt-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$yellowOrange: #FCB427;
$Orange: #FF971D;
$black: #2D2D2D;
$dirt: #535554;
$white: #F3F3F3;
$grey: #C4C4C4;


%h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 141.69%;
  line-height: 141.69%;

  @media (max-width:992px) {
   font-size: 35px; 
  }
}

%h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: $black;
  line-height: 141.69%;

  @media (max-width:992px) {
    font-size: 32px; 
  }
}

%h3 {
  font-weight: bold;
  font-size: 33px;
  line-height: 142.19%;
  font-family: 'PT Sans', sans-serif;
  color: $black;
  
  @media (max-width:992px) {
    font-size: 26px;
  }
}

%imgbox {
  position: relative;
  overflow: hidden;

}

%img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%btn-wrapper {
  margin-top: 30px;
  text-align: center;

}

%link-btn {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 141.69%;
  border: 1px solid #FCB427;

  &:hover {
    border: 1px dashed #FCB427;
  }

  &:active {
    border: 1px dotted #FCB427;
  }
}

%banner {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 255px;
  line-height: 124.19%;
  text-transform: uppercase;
  color: rgba(211, 208, 208, 0.2);
  transform: rotate(-90deg);
}

%checkbox-real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

%checkbox-fake {
  position: relative;
  height: 18px;
  cursor: pointer;
  flex: 0 0 18px;
  display: inline-block;
  border: 1px solid #C4C4C4;
  background-color: transparent;
  border-radius: 2px;
}


%checked {
  content: '';
  position: absolute;
  top: 4px;
  left: 2px;
  width: 11px;
  height: 7px;
  background-image: url('../images/checkmark.svg');
}

%agree {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 14px;
  padding-left: 10px;
  cursor: pointer;
  a {
    text-decoration: underline;
  }
}

%pop-up {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(#000, .5);
}

%pop-up-body {
  max-width: 480px;
  width: 100%;

  overflow: auto;
  padding: 30px 20px;

  background: rgba(243, 243, 243, 1);
  backdrop-filter: blur(14px);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}