@media (max-width:820px) {
  .article-top__images {
    flex-direction: column;
    padding: 0 85px;
  }
  .article-top__img + .article-top__img {
    margin-top: 20px;
  }
  .article-top__img {
    width: 100%;
    padding-bottom: 87%;
  }
}

@media (max-width:660px) {
  .article-top__images {
    padding: 0;
  }
}

@media (max-width:640px) {
  .article__another-ones {

    .item-blog {
      max-width: 100%;
    }
    .item-blog:nth-child(n + 3) {
      display: none;
    }
    .item-blog__images {
      padding-bottom: 40%;
    }
  }
}


@media (max-width:470px) {
  .article__another-ones {
    .item-blog__images {
      padding-bottom: 99%;
    }
  }
}