.product {

  padding-bottom: 50px;

  &__title {
    @extend %h1;
    margin-bottom: 50px;
  }

  // .product__inner

  &__inner {
    display: flex;

    position: relative;
    &::after{
      @extend %banner;
      content: "Liebherr";
      top: 81%;
      right: -57%;
      width: 1094px;
    }
  }

  // .product__images

  &__images {
    width: 48%;
    flex-grow: 0;
  }

  // .product__slider

  &__slider {
    margin-bottom: 23px;
  }

  // .product__slider-item

  &__slider-item {
  }

  // .product__slider-images

  &__slider-images {
    position: relative;
    padding-bottom: 74%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  // .product__thumbs

  &__thumbs {
    margin: 0 -15px;
    max-width: calc( 100% + 30px);
  }

  // .product__thumb

  &__thumb {
  }

  // .product__thumb-images

  &__thumb-images {
    @extend %imgbox;
    // max-width: 171px;
    margin: 0 15px;
    padding-bottom: 58%;
    cursor: pointer;

    img {
      @extend %img;
    }
  }

  // .product__info

  &__info {
    flex-grow: 1;
    width: 41%;

    // width: 481px;
    margin-left: 30px;
  }

  // .product__info-list

  &__info-list {
  }

  // .product__info-btn

  &__info-btn {
    display: inline-block;
    padding: 12px 70px;
  }
}

.product-list {

  margin-bottom: 30px;

  // .product-list__item

  &__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  // .product-list__text

  &__text {
    font-weight: 500;

    &:first-child {
      max-width: 293px;
      width: 100%;
    }
  }

  &__text + &__text {
    margin-left: 27px;
  }

  // .product-list__text--bold

  &__text--bold {
    font-weight: 700;
  }
}

.tabs {
  padding-bottom: 50px;

  // .tabs__toggle

  &__toggle {
    position: relative;
    min-height: 35px;
    overflow-x: auto;
    margin-bottom: 50px;
    // border-bottom: 2px solid #C4C4C4;

  }

  &__toggle-box {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    
    min-width: 600px;
    min-height: 35px;

    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #C4C4C4;
    }
  }

  &__toggle::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  // .tabs__toggle-item

  &__toggle-item {
    display: inline-block;
    padding: 0 24px 8px;
    cursor: pointer;
  }

  &__toggle-item--pressed {
    font-weight: 700;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      z-index: 4;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $yellowOrange;
    }
  }

  &__toggle-item + &__toggle-item {
    margin-left: 46px;
  }

  // .tabs__content

  &__content {
    position: relative;
    &::after{
      @extend %banner;
      
      content: "Eurocran";
      top: 77%;
      left: -63%;
      width: 1218px;
    }
  }
}

.item-content {

  // .item-content__title

  &__title {
    @extend %h2;
    margin-bottom: 35px;
    
  }

  // .item-content__text

  &__text {
  }

  // .item-content__images

  &__images {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 0 30px

  }

  // .item-content__img

  &__img {
    @extend %imgbox;
    padding-bottom: 95%;
    img {
      @extend %img;
    }
  }
}

.item-specs {

  // .item-specs__box

  &__box {
    display: flex;
    justify-content: space-between;

  }

  // .item-specs__item

  &__item {
    width: calc( (100% - 90px) / 4 );
  }

  // .item-specs__images

  &__images {
    @extend %imgbox;
    margin-bottom: 20px;
    padding-bottom: 142%;
    img {
      @extend %img;
    }
  }

  // .item-specs__link

  &__link {
    display: inline-block;
    font-weight: bold;
    color: #000;
    padding-bottom: 3px;
    border-bottom: 1px solid $yellowOrange;
  }
}

.product-text {
  padding-top: 0;
}

.similar {

  padding: 180px 0 100px;

  // .similar__title

  &__title {
    @extend %h2;
    margin-bottom: 67px;
  }

  // .similar__items

  &__items {

    .slick-btn {
      right: 12px;
      top: -96px;
    }
    .slick-prev {
      right: 89px;
    }

    .slick-slide + .slick-slide {
      margin-left: 30px;
    }
  

    .slick-dots {
      top: -57px;
      right: 12px;
    }
  }
}


@media (max-width:1220px) {
  .product__inner::after,
  .tabs__content::after {
    position: static;
    display: none;
  }
}

@media (max-width:992px) {
  .product-list__text:first-child {
    max-width: 220px;
  }
  .product__slider-images {
    padding-bottom: 97%;
  }
  .product__thumbs {
    max-width: calc( 100% + 16px );
    margin: 0 -8px 0 -8px;
  }
  .product__thumb-images {
    margin: 0 8px;
  }

  .item-content__images {
    grid-template-columns: repeat(2, 1fr );
    grid-gap: 27px 33px;
  }
  .tabs__toggle {
    margin-right: -15px;
  }



  .similar {
    padding: 120px 0;
  }
  .similar__items {
    max-width: 770px;
    margin: 0 auto;

    .slick-slide + .slick-slide {
      margin-left: 0px;
    }

    .product-item {
      max-width: none;
      padding: 0 15px;
    }
  }
}

@media (max-width:820px) {
  .item-specs__box {
    flex-wrap: wrap;
  }
  .item-specs__item {
    width: calc( (100% - 30px) / 2 );
    margin-bottom: 30px;
  }
}

@media (max-width:767px) {
  .product__slider {
    margin-bottom: 4px;
  }
  .product__inner {
    flex-direction: column;
  }
  .product__images {
    width: 100%;
  }
  .product__info {
    width: 100%;
    margin-left: 0;
  }
  .product__slider-images {
    padding-bottom: 74%;
  }
  .product-list {
    margin-top: 33px;
  }
  .product__info .product-list__item:not(:last-child) {
    display: none;
  }
  .product__info-btn {
    margin-left: 31px;
  }
}

@media (max-width:660px) {
  .similar__items {
    .product-item {
      padding: 0;
    }
  }

}

@media (max-width:570px) {
  .item-content__images {
    grid-template-columns: repeat(1, 1fr );
    grid-gap: 27px 0;
  }
}

@media (max-width:470px) {
  .item-specs__item {
    width: 100%;
  }
}

@media (max-width:350px) {
  .tabs__content .product-list__text:first-child {
    max-width: 180px;
  }

}