.blog {
  padding-bottom: 100px;

  &__title {
    @extend %h1;
    margin-bottom: 53px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media #{$mobile} {
      grid-template-columns: repeat(1, 1fr);
    }

    &::after{
      @extend %banner;
      content: "Eurocran";
      bottom: 27%;
      left: -63%;
      width: 1218px;

      @media #{$tablet} {
        position: static;
        display: none;
      }
    }

    &::before{
      @extend %banner;
      content: "Liebherr";
      top: 20%;
      right: -57%;
      width: 1094px;

      @media #{$tablet} {
        position: static;
        display: none;
      }
    }
  }

  &__item-inner {
    flex-direction: column;
    height: 100%;
  }

  &__btn-wrapper {
    @extend %btn-wrapper;
  }

  &__btn {
    @extend %link-btn;
    padding: 12px 58px 12px 47px;
  }

}


@media (max-width:992px) {
  .blog__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__items .item-blog {
    max-width: none;
  }
}


@media (max-width:600px) {
  .blog__items .item-blog:nth-child(n + 9) {
    display: none;
  }
}