@font-face {
  font-family: FuturaPt-Bold;
  src: url('../fonts/futura-pt-bold.woff2') format('woff2'), url('../fonts/futura-pt-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;

  $scroll-gap: calc(100vw - 100%);

  &.lock {
    overflow: hidden;

    @media (hover: hover) {
      margin-right: $scroll-gap;
    }
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: $black;
  background: #f3f3f3;
}

input,
textarea {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

#__next {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  background-color: transparent;
  transition: all 0.1s;

  &.covered::after {
    content: '';
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(#000, 0.4);
  }
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.rel {
  position: relative;
}

.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.after::after {
  position: absolute;
  content: '';
}

.before::before {
  position: absolute;
  content: '';
}

.btn {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 141.69%;
  color: #fff;
  background-color: rgba($yellow-orange, 1);
  padding: 12px 0;
  transition: all 0.2s;

  &:hover {
    background-color: rgba($yellow-orange, 0.8);
  }

  &:active {
    background-color: $orange;
  }
}

.rent__slider,
.projects-slider,
.catalog-slider,
.similar__items,
.reviews__items,
.object-top__slider,
.another-ones__slider {
  .slick-btn {
    position: absolute;
    background-color: transparent;
    z-index: 9;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    border: 2px solid #ff971d;

    &:active {
      opacity: 0.6;
    }

    &.slick-disabled {
      border: 2px solid transparent;
      cursor: default;

      .slider-arr-wrapper svg path {
        fill: #c4c4c4;
      }
    }

    .slider-arr-wrapper {
      position: relative;
      height: 100%;

      svg {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        left: -15px;
      }
    }
  }

  .slick-prev {
    right: 87px;

    .slider-arr-wrapper svg {
      left: 15px;
    }
  }
}

.catalog-slider,
.similar__items,
.reviews__items {
  .slick-dots {
    position: absolute;
    display: flex !important;
    max-width: 123px;
    width: 100%;
    align-items: center;

    li {
      margin: 0;
      width: calc(100% / 5);

      &.active button {
        background: #535554;
      }
    }
  }

  .slick-dots button {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    background: #c4c4c4;
    height: 4px;
    width: 100%;
  }

  .slick-dots li.slick-active button {
    background: #535554;
  }
}

.catalog-slider,
.another-ones__slider {
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
  }

  .slick-slide > div {
    height: 100%;
  }
}

.map {
  max-width: 1605px;
  margin: 0 auto;
}

@media (width <= 992px) {
  .product-item__title--big {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

@media (width <= 570px) {
  .product-item__title--big {
    font-size: 14px;
    line-height: 16px;
  }
}
