
.objects {
  &__title {
    @extend %h1;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
    margin-top: 50px;

    @media #{$tablet} {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }

    @media #{$mobile} {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__btn-wrapper {
    @extend %btn-wrapper;
  }

  &__btn {
    @extend %link-btn;
    padding: 12px 52px;
  }
}

@media (max-width:860px) {
  .objects__item:nth-child(n + 9) {
    display: none;
  }
}