@import '~rc-slider/assets/index.css';
@import "~slick-carousel/slick/slick.css"; 

@font-face {
  font-family: 'FuturaPt-Bold';
  src: url('../fonts/futura-pt-bold.woff2') format('woff2'),
  url('../fonts/futura-pt-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "_null.scss";
@import "_global.scss";

@import "./blocks/_header.scss";
@import "./blocks/_footer.scss";
@import "./blocks/_mob-menu.scss";
@import "./blocks/_floating-field.scss";
@import "./blocks/_loader.scss";
@import "./blocks/error.scss";
@import "./blocks/popup.scss";
@import "./blocks/popup-message.scss";
@import "./blocks/another-ones.scss";
@import "./blocks/aside-catalog.scss";
@import "./blocks/aside-dropdown.scss";
@import "./blocks/aside-filter.scss";
@import "./blocks/block-text.scss";
@import "./blocks/breadcrumbs.scss";
@import "./blocks/catalog-content.scss";
@import "./blocks/catalog-controls.scss";
@import "./blocks/catalog-slider.scss";
@import "./blocks/catalog-tabs.scss";
@import "./blocks/cost.scss";
@import "./blocks/empty.scss";
@import "./blocks/form-contacts.scss";
@import "./blocks/form-label.scss";
@import "./blocks/guarantee.scss";
@import "./blocks/help.scss";
@import "./blocks/item-blog.scss";
@import "./blocks/item-content.scss";
@import "./blocks/item-object.scss";
@import "./blocks/item-specs.scss";
@import "./blocks/main-about.scss";
@import "./blocks/menu-btn.scss";
@import "./blocks/numbers.scss";
@import "./blocks/object-top.scss";
@import "./blocks/pagination.scss";
@import "./blocks/product-item.scss";
@import "./blocks/product-list.scss";
@import "./blocks/projects-nav.scss";
@import "./blocks/projects-slider.scss";
@import "./blocks/projects.scss";
@import "./blocks/questions.scss";
@import "./blocks/rent.scss";
@import "./blocks/reviews.scss";
@import "./blocks/services.scss";
@import "./blocks/similar.scss";
@import "./blocks/slider-item.scss";
@import "./blocks/sort-select.scss";
@import "./blocks/tabs.scss";
@import "./blocks/top.scss";

@import "home.scss";
@import "catalog.scss";
@import "product.scss";
@import "about.scss";
@import "objects.scss";
@import "object.scss";
@import "blog.scss";
@import "article.scss";
@import "contacts.scss";

@import "_animate.scss";
@import "_media.scss";