$yellow-orange: #fcb427;
$orange: #ff971d;
$black: #2d2d2d;
$dirt: #535554;
$white: #f3f3f3;
$grey: #c4c4c4;
$mobile: '(max-width: 768px)';
$tablet: '(max-width: 1200px)';

%h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 142%;

  @media (width <= 992px) {
    font-size: 35px;
  }
}

%h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: $black;
  line-height: 141.69%;

  @media (width <= 992px) {
    font-size: 32px;
  }
}

%h3 {
  font-weight: bold;
  font-size: 33px;
  line-height: 142.19%;
  font-family: 'PT Sans', sans-serif;
  color: $black;

  @media (width <= 992px) {
    font-size: 26px;
  }
}

%imgbox {
  position: relative;
  overflow: hidden;
}

%img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%btn-wrapper {
  margin-top: 30px;
  text-align: center;
}

%link-btn {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 141.69%;
  border: 1px solid $yellow-orange;

  &:hover {
    border: 1px dashed $yellow-orange;
  }

  &:active {
    border: 1px dotted $yellow-orange;
  }
}

%banner {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 255px;
  line-height: 124.19%;
  text-transform: uppercase;
  color: rgb(211 208 208 / 20%);
  transform: rotate(-90deg);
}

%checkbox-real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

%checkbox-fake {
  position: relative;
  height: 18px;
  cursor: pointer;
  flex: 0 0 18px;
  display: inline-block;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  border-radius: 2px;
}

%checked {
  content: '';
  position: absolute;
  top: 4px;
  left: 2px;
  width: 11px;
  height: 7px;
  background-image: url('/static/images/checkmark.svg');
}

%agree {
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  line-height: 14px;
  padding-left: 10px;
  cursor: pointer;

  a {
    text-decoration: underline;
  }
}

%pop-up {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.5);
}

%pop-up-body {
  max-width: 480px;
  width: 100%;
  overflow: auto;
  padding: 30px 20px;
  background: rgb(243 243 243 / 100%);
  backdrop-filter: blur(14px);
  box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
}
